In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

C:\Users\Fakhruddin\Anaconda3\lib\site-packages\statsmodels\tools\_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
jtd_data=pd.read_csv('C:\\Users\\Fakhruddin\\Capstone Project\\Mahindra First Choice Dataset\\JTD.csv')
invoice_data=pd.read_csv('C:\\Users\\Fakhruddin\\Capstone Project\\Mahindra First Choice Dataset\\Final_invoice.csv')

C:\Users\Fakhruddin\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (9,10,14,15,21,41,51) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
jtd_data.head()

,Unnamed: 0,DBM Order,Order Item,Material,Labor Value Number,Description,Item Category,Order Quantity,Target quantity UoM,Net value
0,0,22385,180,OSLCC_SRV31,NaN,MACHINING RR.SUSPENSION CHARGE (MAJOR),P010,1.2,MIN,1869.87
1,1,23910,10,1DM279018170117,NaN,ASSY.OIL COOLER (6-PLATE) (VOR,P002,1.0,EA,2151.13
2,2,23910,40,1IS150203BE01,NaN,FRONT WHEEL BEARING/ LUBRICATE,P002,1.0,EA,2552.92
3,3,23910,60,1DM279001990173,NaN,ASSY.CYL.HEAD W /O INJ.(NA W /O,P002,1.0,EA,20360.14
4,4,23910,70,1DM88552790S001SA,NaN,Engine Overhaul Kit -Indica Di,P002,1.0,EA,10691.63

In [4]:
invoice_data.head()

,Unnamed: 0,Amt Rcvd From Custom,Amt Rcvd From Ins Co,Area / Locality,CGST(14%),CGST(2.5%),CGST(6%),CGST(9%),CITY,Cash /Cashless Type,...,Service Advisor Name,TDS amount,Technician Name,Total Amt Wtd Tax.,Total CGST,Total GST,Total IGST,Total SGST/UGST,Total Value,User ID
0,0,0.0,0.0,MAJIWADA,0.0,0.0,0.0,0.0,Thane,NaN,...,NaN,0.0,RUPESH,4051.95,0.0,0.0,0.0,0.0,4051.95,BC01FS1
1,1,0.0,0.0,THNAE,0.0,0.0,0.0,0.0,THNAE,NaN,...,NaN,0.0,PRASHANT,1001.29,0.0,0.0,0.0,0.0,1001.29,BC01SA2
2,2,0.0,0.0,THANE,0.0,0.0,0.0,0.0,THANE[W],NaN,...,NaN,0.0,IMRAN,233.14,0.0,0.0,0.0,0.0,233.14,BC01SA2
3,3,0.0,0.0,THNAE,0.0,0.0,0.0,0.0,THNAE,NaN,...,NaN,0.0,PRASHANT,0.00,0.0,0.0,0.0,0.0,0.00,BC01SA2
4,4,0.0,0.0,THANE,0.0,0.0,0.0,0.0,THANE,NaN,...,NaN,0.0,DAYANAND,2747.12,0.0,0.0,0.0,0.0,2747.12,BC01SA2

In [5]:
invoice_data.shape

(492314, 59)

In [7]:
filt_invoice_data=invoice_data[['Customer No.','Cash /Cashless Type','District','Invoice Time','Invoice Date','JobCard Date','JobCard Time']]

In [8]:
filt_invoice_data.shape

(492314, 7)

In [9]:
filt_invoice_data.isna().sum()

Customer No.                0
Cash /Cashless Type    464894
District                    0
Invoice Time                0
Invoice Date                0
JobCard Date                0
JobCard Time                0
dtype: int64

In [10]:
filt_invoice_data=filt_invoice_data.dropna()

In [11]:
filt_invoice_data.shape

(27420, 7)

In [16]:
filt_invoice_data.columns

Index(['Customer No.', 'Cash /Cashless Type', 'District', 'Invoice Time',
       'Invoice Date', 'JobCard Date', 'JobCard Time'],
      dtype='object')

In [19]:
filt_invoice_data['invoice dateime']=filt_invoice_data['Invoice Date']+ ' '+  filt_invoice_data['Invoice Time']
filt_invoice_data['jobcard dateime']=filt_invoice_data['JobCard Date']+ ' '+  filt_invoice_data['JobCard Time']

C:\Users\Fakhruddin\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\Fakhruddin\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [20]:
filt_invoice_data.head()

,Customer No.,Cash /Cashless Type,District,Invoice Time,Invoice Date,JobCard Date,JobCard Time,invoice dateime,jobcard dateime
39,82212,CASH,Maharashtra,17:45:56,2015-01-07,2014-12-31,19:07:08,2015-01-07 17:45:56,2014-12-31 19:07:08
68,82548,CASHLESS,Maharashtra,15:47:17,2015-01-11,2014-12-20,15:02:04,2015-01-11 15:47:17,2014-12-20 15:02:04
101,85933,CASHLESS,Maharashtra,16:07:27,2015-01-15,2015-01-12,16:28:05,2015-01-15 16:07:27,2015-01-12 16:28:05
119,29422,CASH,Maharashtra,11:30:14,2015-01-17,2015-01-15,16:43:53,2015-01-17 11:30:14,2015-01-15 16:43:53
120,74270,CASHLESS,Maharashtra,12:50:23,2015-01-17,2015-01-12,10:46:18,2015-01-17 12:50:23,2015-01-12 10:46:18

In [21]:
filt_invoice_data.dtypes

Customer No.           object
Cash /Cashless Type    object
District               object
Invoice Time           object
Invoice Date           object
JobCard Date           object
JobCard Time           object
invoice dateime        object
jobcard dateime        object
dtype: object

In [22]:
filt_invoice_data['jobcard dateime']=pd.to_datetime(filt_invoice_data['jobcard dateime'])
filt_invoice_data['invoice dateime']=pd.to_datetime(filt_invoice_data['invoice dateime'])

C:\Users\Fakhruddin\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\Fakhruddin\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [23]:
filt_invoice_data.dtypes

Customer No.                   object
Cash /Cashless Type            object
District                       object
Invoice Time                   object
Invoice Date                   object
JobCard Date                   object
JobCard Time                   object
invoice dateime        datetime64[ns]
jobcard dateime        datetime64[ns]
dtype: object

In [24]:
filt_invoice_data.head()

,Customer No.,Cash /Cashless Type,District,Invoice Time,Invoice Date,JobCard Date,JobCard Time,invoice dateime,jobcard dateime
39,82212,CASH,Maharashtra,17:45:56,2015-01-07,2014-12-31,19:07:08,2015-01-07 17:45:56,2014-12-31 19:07:08
68,82548,CASHLESS,Maharashtra,15:47:17,2015-01-11,2014-12-20,15:02:04,2015-01-11 15:47:17,2014-12-20 15:02:04
101,85933,CASHLESS,Maharashtra,16:07:27,2015-01-15,2015-01-12,16:28:05,2015-01-15 16:07:27,2015-01-12 16:28:05
119,29422,CASH,Maharashtra,11:30:14,2015-01-17,2015-01-15,16:43:53,2015-01-17 11:30:14,2015-01-15 16:43:53
120,74270,CASHLESS,Maharashtra,12:50:23,2015-01-17,2015-01-12,10:46:18,2015-01-17 12:50:23,2015-01-12 10:46:18

In [25]:
filt_invoice_data['Cash /Cashless Type'].value_counts()

CASH        22193
CASHLESS     5011
Z             216
Name: Cash /Cashless Type, dtype: int64

In [26]:
filt_invoice_data['year']=filt_invoice_data['invoice dateime'].dt.year

C:\Users\Fakhruddin\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [27]:
filt_invoice_data.head()

,Customer No.,Cash /Cashless Type,District,Invoice Time,Invoice Date,JobCard Date,JobCard Time,invoice dateime,jobcard dateime,year
39,82212,CASH,Maharashtra,17:45:56,2015-01-07,2014-12-31,19:07:08,2015-01-07 17:45:56,2014-12-31 19:07:08,2015
68,82548,CASHLESS,Maharashtra,15:47:17,2015-01-11,2014-12-20,15:02:04,2015-01-11 15:47:17,2014-12-20 15:02:04,2015
101,85933,CASHLESS,Maharashtra,16:07:27,2015-01-15,2015-01-12,16:28:05,2015-01-15 16:07:27,2015-01-12 16:28:05,2015
119,29422,CASH,Maharashtra,11:30:14,2015-01-17,2015-01-15,16:43:53,2015-01-17 11:30:14,2015-01-15 16:43:53,2015
120,74270,CASHLESS,Maharashtra,12:50:23,2015-01-17,2015-01-12,10:46:18,2015-01-17 12:50:23,2015-01-12 10:46:18,2015

In [30]:
filt_invoice_data.groupby('year')['Cash /Cashless Type'].value_counts().sort_values(ascending=False)

year  Cash /Cashless Type
2015  CASH                   10314
2014  CASH                    6488
2013  CASH                    4468
2015  CASHLESS                2943
2014  CASHLESS                1335
2012  CASH                     923
2013  CASHLESS                 585
2015  Z                        165
2012  CASHLESS                 148
2014  Z                         51
Name: Cash /Cashless Type, dtype: int64

In [31]:
filt_invoice_data.year.unique()

array([2015, 2014, 2012, 2013], dtype=int64)